


.img{
    width: 260px;
    margin: 8px;
    height: 200px;
    border-radius: 20%;
    position: relative;
}




.img:hover::after{

    content: attr('hello');
    position: absolute;
    top: 50%;
    background-color: brown;
    color: black;
}